html {
  height: 100%;
  width: 100%;
}
body { margin 10%;
     background-color:lightpink;
     color:darkblue;
     font-family: italics;
     }
h1 {
  text-align: center;
}

p {background-color:lightpink;
 color:darkblue;
 font-family: italics;
   }
button {
  font-size: 25px;
}